body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

h1 {
    text-align: center;
    color: white;
}

input, label {
    margin-right: 25%;
    margin-left: 45%;
}

p {
    color: white;
    text-align: center;
}

footer {
  margin-top: 670px;
  text-align: center;
  padding: 3px;
  background-color: rgb(122, 164, 243);
  color: white;
}

a:link, a:visited, a:hover, a:active{
    color: #34495e;
}

.box {
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box label{
  color: white;
  font-weight: 500;
}

.box input[type = "number"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "number"]:focus{
    width: 280px;
    border-color: #2ecc71;
}